---
layout: default
---

<div class="container">

  <div class="row margin-top-4">

    <div class="col-sm-8 col-md-8">

      <fieldset>
        <legend>Matérias</legend>
        {% for post in paginator.posts %}
          <div class="post-link">
            <h3>
              <a href="{{ post.url | remove_first:'/'}}">{{ post.title }}</a>
            </h3>
            <p class="bold">{{post.tipo}} por <i>{{post.author}}</i></p>
            <p>{{ post.date | date: "%d/%m/%Y" }}</p>
          </div>
          <div class="post-content-truncate readable">
            {% if post.content contains "<!-- more -->" %}
              {{ post.content | split:"<!-- more -->" | first % }}
            {% else %}
              {{ post.content | strip_html | truncatewords:100 }}
            {% endif %}
          </div>
          <div class="row margin-top-1 margin-bottom-3">
            <div class="col-md-12">
                <a href="{{ post.url | remove_first:'/'}}" class="btn btn-primary">Continuar lendo...</a>
            </div>
          </div>
        {% endfor %}

      {% if paginator.total_pages > 5 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</a>
          {% else %}
            <button class="previous btn btn-default" disabled> <span class="glyphicon glyphicon-chevron-left"></span> Anterior</button>
          {% endif %}
          <span class="page_number ">{{ paginator.page }} de {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next btn btn-default">Próximo</a>
          {% else %}
            <button class="next btn btn-default" disabled> <span class="glyphicon glyphicon-chevron-right"></span> Próximo</button>
          {% endif %}
        </div>
      {% endif %}

     </fieldset>

    </div>

    <div class="col-sm-4 col-md-4">
      <a class="twitter-timeline" href="https://twitter.com/blogmusicall" data-widget-id="669925210825576448">Tweets de @blogmusicall</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

  </div>



</div>
