---
layout: default
---

<div class="container">
  <div class="row margin-top-7">

    <div class="col-sm-9 col-md-9">

      <fieldset>
        {% for post in paginator.posts %}
          <div class="post-link">
            <h3>
              <a href="{{ post.url | remove_first:'/'}}">{{ post.title }}</a>
            </h3>
            <ul class='basic-ul'>
          		<li>{{post.type}}</li>
          		<li>{{post.year}}</li>
          	</ul>
          </div>
          <div class="post-content-truncate readable">
            <div class='cover'>
        			<img src='{{ "/assets/image/covers/" | prepend: site.baseurl}}{{post.cover}}'>
        		</div>

            <p>{{post.content}}</p>

            <div class='youtube-video'>
        			<iframe width="100%" height="420" src="{{post.embedded_youtube}}" frameborder="0" allowfullscreen></iframe>
        		</div>

        		<ul class="list-group">
              {% if post.soundcloud %}
        			<li class="list-group-item">
        				<a href='{{post.soundcloud}}'><i class='fa fa-soundcloud'></i> Soundcloud</a>
        			</li>
        			{% endif %}

        			{% if post.spotify %}
        			<li class="list-group-item">
        				<a href='{{post.spotify}}'><i class='fa fa-spotify'></i> Spotify</a>
        			</li>
        			{% endif %}

        			{% if post.youtube %}
        			<li class="list-group-item">
        				<a href='{{post.youtube}}'><i class='fa fa-youtube'></i> Youtube</a>
        			</li>
        			{% endif %}

        			{% if post.deezer %}
        			<li class="list-group-item">
        				<a href='{{post.deezer}}'>Deezer</a>
        			</li>
        			{% endif %}

        			{% if post.bandcamp %}
        			<li class="list-group-item">
        				<a href='{{post.bandcamp}}'>Bandcamp</a>
        			</li>
        			{% endif %}

        			{% if post.site %}
        			<li class="list-group-item">
        				<a href='{{post.site}}'>Site</a>
        			</li>
        			{% endif %}

        		</ul>

            <div class='tags gray-color'>
        			Tags:
        			{% for tag in post.tags %}
        			<a href='{{ "/tag/" | prepend: site.baseurl }}{{tag}}'>#{{tag}}</a> &nbsp;
        			{% endfor %}
        		</div>

          </div>
          <br/> <br/>
        {% endfor %}

      {% if paginator.total_pages > 5 %}
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</a>
          {% else %}
            <button class="previous btn btn-default" disabled> <span class="glyphicon glyphicon-chevron-left"></span> Anterior</button>
          {% endif %}
          <span class="page_number ">{{ paginator.page }} de {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next btn btn-default">Próximo</a>
          {% else %}
            <button class="next btn btn-default" disabled> <span class="glyphicon glyphicon-chevron-right"></span> Próximo</button>
          {% endif %}
        </div>
      {% endif %}

     </fieldset>

    </div>

    <div class="col-sm-3 col-md-3 right-sidebar">
      <ul class='links-sidebar'>
        <li>
          <a href='{{ "/category/Album" | prepend: site.baseurl }}' style='font-weight: bolder;'>Albuns ({{site.categories['Album'].size}})</a>
        </li>
        <!--
        <li>
          <a href='{{ "/category/Single" | prepend: site.baseurl }}' style='font-weight: bolder;'>Singles ({{site.categories['Single'].size}})</a>
        </li>

        <li>
          <a href='{{ "/category/EP" | prepend: site.baseurl }}' style='font-weight: bolder;'>EPs ({{site.categories['EP'].size}})</a>
        </li>

        <li>
          <a href='{{ "/category/Compilacao" | prepend: site.baseurl }}' style='font-weight: bolder;'>Compilação ({{site.categories['Compilacao'].size}})</a>
        </li>

        <li>
          <a href='{{ "/category/Playlist" | prepend: site.baseurl }}' style='font-weight: bolder;'>Playlists ({{site.categories['Playlist'].size}})</a>
        </li>
      -->
      </ul>
    </div>

  </div>



</div>
