---
layout: default
---

<div class="container">

  <div class="row margin-top-4">

    <div class="col-sm-8 col-md-8">

      <fieldset>
        <legend>Matérias</legend>
        <ul class="list-group">
          {% for post in paginator.posts %}
            <li class="list-group-item">
              <div class="post-link">
                <h3>
                  <a href="{{ post.url | remove_first:'/'}}">{{ post.title }}</a>
                </h3>

                <p class="bold">{{post.tipo}} por <i>{{post.author}}</i></p>
                <p>{{ post.date | date: "%d/%m/%Y" }}</p>

              </div>
            </li>
          {% endfor %}
         </ul>

      {% if paginator.total_pages > 5 %}
       <div class="pagination">
         {% if paginator.previous_page %}
           <a href="{{ paginator.previous_page_path }}" class="previous">Anterior</a>
         {% else %}
           <span class="previous">Anterior</span>
         {% endif %}
         <span class="page_number ">Proximo: {{ paginator.page }} of {{ paginator.total_pages }}</span>
         {% if paginator.next_page %}
           <a href="{{ paginator.next_page_path }}" class="next">Próximo</a>
         {% else %}
           <span class="next ">Próximo</span>
         {% endif %}
       </div>
      {% endif %}

     </fieldset>

    </div>

    <div class="col-sm-4 col-md-4">
      <a class="twitter-timeline" href="https://twitter.com/hashtag/musicall" data-widget-id="669553972185841664">Tweets</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

  </div>



</div>
