<header>
  <nav class="navbar navbar-default navbar-fixed-top margin-bottom-3">
    <div class="container">
      
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="{{ "/assets/image/logo.png" | prepend: site.baseurl }}">
        </a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Bandas</a></li>
          <li><a href="#">Discos</a></li>
          <li><a href="#">Especiais</a></li>
          <li><a href="#">Mixtapes</a></li>
          <li><a href="#">Busca</a></li>
        </ul>
      </div>

    </div>
  </nav>
</header>