<div class="container content" class="margin-3">
	
	<div class="row">
	
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 highlight highlight-1">
			<div>
				<p>King Lizzard and Gizzard</p>
				<label>Banda</label>
			</div>
		</div>

	</div>

	<div class="row">
		
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 highlight highlight-2">
			<div>
				<p>Tame Impala - Currents</p>
				<label>Disco</label>
			</div>
		</div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 highlight highlight-3">
			<div>
				<p>Rock Rural</p>
				<label>Especial</label>
			</div>
		</div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 highlight highlight-4">
			<div>
				<p>Lollapaloza</p>
				<label>Especial</label>
			</div>
		</div>

	</div>

</div>

