<div class="container content" class="margin-3">

	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 highlight" style="background-image: url('{{site.data.highlights['highlight-1'].imagem}}');">
			<div>
				<p>{{ site.data.highlights['highlight-1'].titulo }}</p>
				<label>{{ site.data.highlights['highlight-1'].categoria }}</label>
			</div>
		</div>

	</div>

	<!--
	<div class="row">

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 highlight" style="background-image: url('{{site.data.highlights['highlight-2'].imagem}}');">
			<div>
				<p>{{ site.data.highlights['highlight-2'].titulo }}</p>
				<label>{{ site.data.highlights['highlight-2'].categoria }}</label>
			</div>
		</div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 highlight" style="background-image: url('{{site.data.highlights['highlight-3'].imagem}}');">
			<div>
				<p>{{ site.data.highlights['highlight-3'].titulo }}</p>
				<label>{{ site.data.highlights['highlight-3'].categoria }}</label>
			</div>
		</div>

		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 highlight" style="background-image: url('{{site.data.highlights['highlight-4'].imagem}}');">
			<div>
				<p>{{ site.data.highlights['highlight-4'].titulo }}</p>
				<label>{{ site.data.highlights['highlight-4'].categoria }}</label>
			</div>
		</div>

	</div>
-->
</div>
