body{font-family: 'Lato' ,'Signika', 'Heveltica'; color: #777;}

.navbar{ border: 0px !important; background-color: #fff; margin-bottom: 70px;}
.navbar-brand, .navbar-nav li a { line-height: 70px; height: 70px; padding-top: 15px; }
.nav-over { font-weight: bolder; color: #4fb0ae !important; }

.highlight {background-size: cover; height: 400px; background-repeat:  no-repeat; transition: opacity .25s ease-in-out;}
.highlight:hover{ opacity: 0.6; cursor:pointer; }
.highlight div{position:absolute; bottom:5px; font-size: 22px; text-shadow: 0 2px 0 black; color: #FFF; float: right; width: 100%;}
.highlight div p{ margin-bottom: 0px; }
.highlight div label{ font-size: 14px; }

.highlight-1{ background-image: url("/musicall/assets/image/king-gizard-capa.jpg"); }
.highlight-2{ background-image: url("/musicall/assets/image/tame-impala.jpg"); }
.highlight-3{ background-image: url("/musicall/assets/image/sa.jpg");}
.highlight-4{ background-image: url("/musicall/assets/image/lolla.jpg");}

.margin-top-1{ margin-top: 1em; }
.margin-top-2{ margin-top: 2em; }
.margin-top-3{ margin-top: 3em; }
.margin-top-4{ margin-top: 4em; }
.margin-top-5{ margin-top: 5em; }
.margin-top-7{ margin-top: 7em; }

.margin-bottom-1{ margin-bottom: 1em; }
.margin-bottom-2{ margin-bottom: 2em; }
.margin-bottom-3{ margin-bottom: 3em; }
.margin-top-adjust{ margin-top: 90px; }

.content{ margin-top: 100px; }
.minitext{ font-size: 9pt; }
.super-minitext{ font-size: 7pt; }

.grey-colour{ color: #777; }
.bold{ font-weight: bolder; }

.facebook-color{ color: #3b5998; }
.twitter-color{ color: #00aced; }

.shadow-text{ text-shadow: 0 1px 0 black; color: #FFF; }

.width-400{ max-width: 400px;   margin-right: auto; margin-left: auto; }

.btn-primary{ color: #fff; background-color: #008080; border-color: #008888; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{  background-color: #009090; border-color: #008888; }
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {background-color: #009090 !!important;}

.post-image{ height: 400px; background-size: cover; }
.post-title{ font-weight: bolder; }

.footer{background-color: #4fb0ae;   padding-right: 0px !important;  padding-left: 0px !important; height: 80px;}
.color-white { color: white; }


.banda-box{ height: 380px; }
.banda-box-img{ height: 200px; background-size: cover; }

.disco-box{ height: 450px; }
.disco-box-img{ height: 280px; background-size: cover; }

.artigo-box{ height: 380px; }
.artigo-box-img{ height: 200px; background-size: cover; }

.mixtape-box{ height: 380px; }
.mixtape-box-img{ height: 200px; background-size: cover; }

.readable{ font-size: 16pt !important; text-shadow:0 0 1px transparent; line-height:36px; font-family: Georgia;}

a{ color: #008080; }
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(0, 128, 128, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 128, 128, 0.6);
  outline: 0 none;
}

html,body{width:100%;}

.basic-ul { list-style-type: none; padding: 0;}
.links-sidebar { list-style: none; text-align: right; position: fixed;}
.cover img{ height: 500px; width: 500px; }
