---
layout: subpage
---
<div class='container margin-top-4'>
<h1>
  {% if page.title == "Album" %}
    Albuns
  {% endif %}
  {% if page.title == "EP" %}
    EP's
  {% endif %}
  {% if page.title == "Single" %}
    Singles
  {% endif %}
  {% if page.title == "Compilacao" %}
    Compilações
  {% endif %}
  {% if page.title == "Playlist" %}
    Playlists
  {% endif %}
</h2>

<ul class='basic-ul'>
  {% for post in site.categories[page.category] %}
  <li>
    <a href="{{ post.url | prepend: site.baseurl}}">{{ post.title }} ({{post.year}})</a>
  </li>
  {% endfor %}
</ul>

</div>
