---
layout: page
---
<div class="container-fluid post-image margin-top-adjust" style="background-image: url('{{ "/assets/image/" | prepend: site.baseurl }}{{page.img}}')">
</div>

<div class="container margin-top-2">
	
	<h1 class="post-title">{{page.title}}</h1>
	<p class="smalltext post-title">{{page.tipo}} por <i>{{page.author}}</i></p>
	<ul class="list-inline grey-colour">
      <li><span class="glyphicon glyphicon-time"></span></li>
      <li>{{ page.date | date: "%d/%m/%Y" }}</li>
    </ul>

    <div class="readable">
    	{{content}}
    </div>

    <div class="comments">
    	<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
		    var disqus_shortname = 'musicall';
		    
		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Por favor ative o seu Javascript, saia dessa de viver sem ele. <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>

</div>
