---
layout: page
---

<div class="container margin-top-5">

	<h1 class="post-title">{{page.title}}</h1>
	<ul class='basic-ul'>
		<li>{{page.type}}</li>
		<li>{{page.year}}</li>
	</ul>

		<div class='cover'>
			<img src='{{ "/assets/image/covers/" | prepend: site.baseurl}}{{page.cover}}'>
		</div>

    <div class="readable margin-top-2">
    	{{content}}
    </div>

		<div class='readable description'>
			{{page.description}}
		</div>

		<div class='youtube-video'>
			<iframe width="100%" height="360" src="{{page.youtube}}" frameborder="0" allowfullscreen></iframe>
		</div>

		<ul class="list-group">
			{% if page.spotify %}
			<li class="list-group-item">
				<a href='{{page.spotify}}'><i class='fa fa-spotify'></i> Spotify</a>
			</li>
			{% endif %}

			{% if page.deezer %}
			<li class="list-group-item">
				<a href='{{page.deezer}}'>Deezer</a>
			</li>
			{% endif %}

			{% if page.bandcamp %}
			<li class="list-group-item">
				<a href='{{page.bandcamp}}'>Bandcamp</a>
			</li>
			{% endif %}

			{% if page.site %}
			<li class="list-group-item">
				<a href='{{page.site}}'>Site</a>
			</li>
			{% endif %}

		</ul>

		<div class='tags gray-color'>
			Tags:
			{% for tag in page.tags %}
			<a href='{{ "/tag/" | prepend: site.baseurl }}{{tag}}'>#{{tag}}</a> &nbsp;
			{% endfor %}
		</div>

    <div class="comments">
    	<div id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
		    var disqus_shortname = 'musicall';

		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Por favor ative o seu Javascript, saia dessa de viver sem ele. <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>

</div>
